.console
{
    height: 500px;
    width:610px;
    max-height:500px;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    color:white;
    background-color:black;
    overflow:auto;
}


.capitalize {
    text-transform: capitalize;
}


.charStats
{
    height: 30px;
    width:610px;
    max-height:30px;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    color:white;
    background-color:gray;
    overflow:auto;
}


.default
{
    color: lightskyblue;
}

.items
{
    color: lawngreen;
}

.mobs
{
    color: magenta;
}

.movement
{
    color: yellow;
}


.error
{
    color:red;
}

.combatmob
{
    color: darkorange;
}

.combatplayer
{
    color: mediumvioletred;
}

.combatMiss
{
    color: grey;
}

.combatHit {
    color: red;
    font-weight: bold;
}